page-editar-aluno {
    .avatar-aluno img{
        text-align: center;
        border-radius: 120px;
        width: 90px;
        margin: 0 auto;
    }
    .barra-ferramentas{
        text-align: center;
    }
}
