<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gerenciador de Tarefas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/estilos.css}"
	href="../../css/estilos.css" />

</head>
<body>
	<nav class="navbar navbar-inverse"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>Gerenciador de Tarefas</h1>
		</div>

		<input type="hidden" th:value="${abaAtiva}" id="idAbaAtiva" />
		<!-- Nav tabs -->
		<ul id="appTabsAbas" class="nav nav-tabs" role="tablist"
			style="visibility: hidden">
			<li role="presentation" class="active"><a href="#usuarios_tab"
				aria-controls="home" role="tab" data-toggle="tab">Usuários</a></li>
			<li role="presentation"><a href="#tarefas_tab"
				aria-controls="profile" role="tab" data-toggle="tab">Tarefas</a></li>
			<li role="presentation"><a href="#alocacao_tab"
				aria-controls="profile" role="tab" data-toggle="tab">Alocação</a></li>
		</ul>

		<div id="appTabsContent" class="tab-content"
			style="visibility: hidden">
			<div role="tabpanel" class="tab-pane fade in active"
				id="usuarios_tab">
				<div style="margin-top: 10px;">
					<form action="#" th:action="@{/spa/add-user}"
						th:object="${usuario}" method="post">
						<input type="hidden" id="idUsuarioParaEdicao" th:field="*{id}" />
						<div class="form-group">
							<label for="usuarioInputNome">Nome</label> <input type="text"
								class="form-control" id="usuarioInputNome" placeholder="Nome"
								th:field="*{nome}" autocomplete="off" />
						</div>

						<div class="form-group">
							<label for="usuarioInputEmail">E-mail</label> <input type="email"
								class="form-control" id="usuarioInputEmail" placeholder="Email"
								th:field="*{email}" autocomplete="off" />
						</div>

						<button id="idBtnAdicionarUsuario" type="submit"
							class="btn btn-primary">Adicionar</button>
					</form>

					<hr />

					<table th:if="${not #lists.isEmpty(usuarios)}"
						class="table table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th style="width: 50px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="us:${usuarios}">
								<td th:text="${us.nome}"></td>
								<td th:text="${us.email}"></td>
								<td><a th:href="@{/spa/edit-user/{id}(id=${us.id})}"> <span
										class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</a> <a th:href="@{/spa/delete-user/{id}(id=${us.id})}"> <span
										class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div role="tabpanel" class="tab-pane fade" id="tarefas_tab">
				<div style="margin-top: 10px;">
					<form action="#" th:action="@{/spa/add-tarefa}"
						th:object="${tarefa}" method="post">
						<input type="hidden" id="idTarefaParaEdicao" th:field="*{id}" />
						<div class="form-group">
							<label for="tarefaInputTitulo">Título</label> <input type="text"
								class="form-control" id="tarefaInputTitulo" placeholder="Título"
								th:field="*{titulo}" autocomplete="off" />
						</div>

						<div class="row">

							<div class="col-sm-6 form-group">
								<label for="tarefaInputDataInicio">Início</label> <input
									type="date" class="form-control" id="tarefaInputDataInicio"
									placeholder="Início" th:field="*{dataInicio}"
									autocomplete="off" />
							</div>

							<div class="col-sm-6 form-group">
								<label for="tarefaInputDataFim">Fim</label> <input type="date"
									class="form-control" id="tarefaInputDataFim" placeholder="Fim"
									th:field="*{dataFim}" autocomplete="off" />
							</div>

						</div>

						<div class="form-group">
							<label for="tarefaTextAreaDescricao">Descrição</label>
							<textarea class="form-control" id="tarefaTextAreaDescricao"
								placeholder="Descrição" th:field="*{descricao}" rows="3"></textarea>
						</div>



						<button id="idBtnAdicionarTarefa" type="submit"
							class="btn btn-primary">Adicionar</button>
					</form>

					<hr />

					<table th:if="${not #lists.isEmpty(tarefas)}"
						class="table table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th style="width: 50px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="task:${tarefas}">
								<td th:text="${task.titulo}"></td>
								<td th:text="${task.descricao}"></td>
								<td><a th:href="@{/spa/edit-tarefa/{id}(id=${task.id})}">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</a> <a th:href="@{/spa/delete-tarefa/{id}(id=${task.id})}"> <span
										class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade" id="alocacao_tab">
				<div style="margin-top: 10px;">
					<form action="#" id="alocacaoForm"
						th:action="@{/spa/aloca-tarefa-usuario}"
						th:object="${usuarioTarefa}" method="post">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group">
							<label for="usuarioTarefaTarefaSelect">Título</label> <select
								class="form-control" id="usuarioTarefaTarefaSelect"
								th:field="${usuarioTarefa.idTarefa}">
								<option value="">Selecione</option>
								<option th:each="t : ${tarefas}" th:value="${t.id}"
									th:text="${t.titulo}">Tarefa</option>
							</select>
						</div>

						<div class="form-group">
							<label for="usuarioTarefaUsuarioSelect">Usuário</label> <select
								class="form-control" id="usuarioTarefaUsuarioSelect"
								th:field="${usuarioTarefa.usuarioTo.id}">
								<option value="">Selecione</option>
								<option th:each="u : ${usuarios}" th:value="${u.id}"
									th:text="${u.nome}">Tarefa</option>
							</select>
						</div>

						<button type="submit" class="btn btn-primary">Adicionar</button>
					</form>


					<hr />

					<table th:if="${not #lists.isEmpty(usuariosTarefas)}"
						class="table table-striped">
						<thead>
							<tr>
								<th>Tarefa</th>
								<th>Usuário</th>
								<th style="width: 25px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ut:${usuariosTarefas}">
								<td th:text="${ut.tarefa.titulo}"></td>
								<td th:text="${ut.nomeUsuario}"></td>
								<td><a
									th:href="@{/spa/desaloca-tarefa-usuario/{id}(id=${ut.id})}">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="/webjars/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		$(function() {
			
			const $alocacaoForm = document.getElementById('alocacaoForm');
			if ($alocacaoForm.attachEvent) {
				$alocacaoForm.attachEvent("submit", processaAlocacaoForm);
			} else {
				$alocacaoForm.addEventListener("submit", processaAlocacaoForm);
			}
			
			const $idUsuarioParaEdicao = $('#idUsuarioParaEdicao');
			const $idBtnAdicionarUsuario = $('#idBtnAdicionarUsuario');
			
			if(!!$idUsuarioParaEdicao.val()) {
				$idBtnAdicionarUsuario.text('Gravar');
			} else {
				$idBtnAdicionarUsuario.text('Adicionar');
			}
			
			const $idTarefaParaEdicao = $('#idTarefaParaEdicao');
			const $idBtnAdicionarTarefa = $('#idBtnAdicionarTarefa');
			
			if(!!$idTarefaParaEdicao.val()) {
				$idBtnAdicionarTarefa.text('Gravar');
			} else {
				$idBtnAdicionarTarefa.text('Adicionar');
			}

			const $usuarioTarefaTarefaSelect = $('#usuarioTarefaTarefaSelect');
			
			$usuarioTarefaTarefaSelect.change(() => {
				
				const idTarefa = $usuarioTarefaTarefaSelect.val();
				
				if(!idTarefa) {
					return;
				}
				
				const destino = 'http://' + window.location.hostname + ':9001/spa/obtem-usuarios-tarefa/' + idTarefa;
				
				window.location.href = destino; 
				
			});
			
			const $inputAbaAtiva = $('#idAbaAtiva');

			switch ($inputAbaAtiva.val()) {
			case 'tarefas':
				$('#appTabsAbas li:eq(1) a').tab('show');
				break;
				
			case 'tarefas-alocadas':
				$('#appTabsAbas li:eq(2) a').tab('show');
				break;
			}

			const $appTabsAba = $('#appTabsAbas');
			const $appTabsContent = $('#appTabsContent');

			$appTabsAba.css('visibility', 'visible');
			$appTabsContent.css('visibility', 'visible');

		});
		
		function processaAlocacaoForm(e) {
		    

		    const $usuarioTarefaTarefaSelect = $('#usuarioTarefaTarefaSelect');
		    const $usuarioTarefaUsuarioSelect = $('#usuarioTarefaUsuarioSelect');
		    
		    if(!$usuarioTarefaTarefaSelect.val() || !$usuarioTarefaUsuarioSelect.val()) {
		    	if (e.preventDefault) e.preventDefault();
		    }

		    return true;
		}


	</script>

</body>
</html>