page-cadastro-tarefa {
    .ion-md-trash{
        color: #EF5350;
        margin-left: 20px !important;
        cursor: pointer;
    }
    .ion-md-create{
        margin-left: 20px !important;
        cursor: pointer;
    }
}
