
.app-toolbar.mat-toolbar-single-row {
    background-color: black;
}

.app-content {
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.app-tab-content {
    /* top right bottom left */
    margin: 20px 10px 0px 10px;
}