.app-table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }

.app-table {
    overflow: auto;
    min-height: 300px;
}

.app-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.mat-column-colunaDeOpcoes {
    max-width: 85px;
}

.app-divider {
    height: 20px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

mat-card {
    margin: 5px;
} 
